! vim: set filetype=xdefaults :

! internet resources
! wiki.gentoo.org/wiki/Rxvt-unicode
! wiki.archlinux.org/index.php/rxvt-unicode

! URxvt.font:           xft:Firacode:style=Retina:pixelsize=16
! URxvt.boldFont:       xft:Firacode:style=Bold:pixelsize=16
! URxvt.italicFont:     xft:Firacode:style=Italic:pixelsize=16
! URxvt.bolditalicFont: xft:Firacode:style=Bold,Italic:pixelsize=16
URxvt.font:           xft:SF\ Mono:style=Regular:pixelsize=16:lcdfilter=lcdlight


URxvt.letterSpace: -2
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.highlightSelection: true
URxvt.internalBorder: 30

! keyboard-select, url-select
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.matcher.button: 1

! transparency
!URxvt*transparent: true
!URxvt*shading: 15
!URxvt*blurRadius: 15


! also look at infinality on archwiki
! see ~/.config/fontconfig/fonts.conf

!Xft.dpi: 192 retina-screen dpi
!Xft.dpi: 168 seems to work well
!Xft.dpi: 157 actual screen dpi ?
!Xft.dpi: 144 is nearest multiple of 96
!Xft.dpi: 168 is next multiple of 96
!Xft.dpi: 96 traditional dpi
!Xft.dpi: 96

! From archwiki on font config
!Xft.autohint: false
!Xft.antialias: true
!Xft.hinting: true
!Xft.hintstyle: hintmedium
!Xft.lcdfilter: lcddefault
!Xft.rgba: rgb

! pick a colorscheme
#include ".Xcolorschemes/gruvbox-dark"
