! vim: set filetype=xdefaults :

! internet resources
! wiki.gentoo.org/wiki/Rxvt-unicode
! wiki.archlinux.org/index.php/rxvt-unicode

URxvt.font:           xft:SourceCodePro:style=regular:pixelsize=16
URxvt.boldFont:       xft:SourceCodePro:style=semibold:pixelsize=16
URxvt.italicFont:     xft:SourceCodePro:style=italic:pixelsize=16
URxvt.bolditalicFont: xft:SourceCodePro:style=semibold italic:pixelsize=16

URxvt.letterSpace: -2
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.highlightSelection: true
URxvt.internalBorder: 10

! keyboard-select, url-select
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.matcher.button: 1

! transparency
!URxvt*transparent: true
!URxvt*shading: 15
!URxvt*blurRadius: 15


! also look at infinality on archwiki

Xft.dpi: 168
!Xft.dpi: 157 actual screen dpi ?
!Xft.dpi: 144 is nearest multiple of 96
!Xft.dpi: 168 is next multiple of 96
!Xft.dpi: 97

! From archwiki on font config
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: 1
Xft.rgba: rgb

! pick a colorscheme
#include ".Xcolorschemes/gruvbox-dark"
